<!DOCTYPE html>
<html>
<head>
  <title>I am #Selfmade</title>
  <meta name="identifier-url" content="http://www.iamselfmade.fr/">
  <meta name="publisher" content="Dahood Simon">
  <meta name="Description" content="Le premier documentaire sur l'univers du MMA francais">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
